.gallery-card-gallery-card {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 200px;
  position: absolute;
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius8);
}
